body {
    background-color: #000000;
    background-size: cover; /* Ajusta o tamanho do GIF para cobrir todo o fundo */
    background-repeat: repeat; /* Repete o GIF se ele for menor que o fundo */
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 1200px; /* Largura máxima do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo na página */
    padding: 20px; /* Adiciona padding ao conteúdo */
}

h1, h3 {
    color: #fff; /* Títulos brancos */
    font-weight: bold; /* Títulos em negrito */
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #ffffff;
}


a {
    color: #87CEEB; /* Cor dos links (azul claro) */
    text-decoration: none; /* Remove sublinhado padrão dos links */
}

a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

header {
    background: #000000;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


nav ul li {
    margin: 10px;
}

nav ul li a:link {
    display: block;
    padding: 3px 8px; /* Ajuste o padding */
    text-transform: uppercase;
    font-size: 12px; /* Ajuste o tamanho da fonte */
}
