body {
    font: 21px "Lucida Grande", "Lucida Sans Unicode", "Arial", sans-serif;
    background-image: url('76YS.gif');
    background-size: cover;
    background-repeat: repeat;
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

#apresentacao p {
    text-align: justify;
    margin: 20px;
}

#container {
    width: 90%; /* Ajuste para porcentagem */
    max-width: 1080px; /* Mantém a largura máxima */
    margin: 0 auto;
    border-radius: 10px; /* Removi os prefixos -moz e -webkit */
    padding-top: 60px;
}

a:link, a:active, a:visited {
    color: #87CEEB;
    text-decoration: none;
}

a:hover {
    color: #87CEEB;
    text-decoration: underline;
}

#foto {
    width: 150px;
    height: 150px;
    background: url(perfil.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-top: 30px;
    transition: transform 0.3s ease;
}

#foto:hover {
    transform: scale(1.1);
}

header {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex; /* Adicionado para alinhar foto e texto */
    align-items: center; /* Alinha verticalmente */
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha */
    justify-content: center; /* Centraliza o conteudo do header em tela pequena */
}

header h1 {
    width: 100%; /* Garante que o título ocupe a largura total em telas pequenas */
    text-align: center; /* Centraliza o título */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Adicionado para alinhar os itens do menu */
    justify-content: center; /* Centraliza os itens do menu */
    flex-wrap: wrap; /* Permite que os itens do menu quebrem para a próxima linha */
}

nav ul li {
    margin: 10px;
}

nav ul li a:link {
    display: block;
    padding: 5px 10px;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ffffff;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #ffffff;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #ffffff;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
}

/* Media Queries */
@media (max-width: 768px) {
    body {
        font-size: 18px;
    }

    #foto {
        width: 120px;
        height: 120px;
        margin: 10px auto;
    }

    #container {
        width: 100%;
        padding: 10px;
    }

    nav ul li {
        margin: 5px;
    }
}