body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #87CEEB;
    font-weight: bold;
}

a {
    color: #87CEEB;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background: #000000;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


nav ul li {
    margin: 10px;
}

nav ul li a:link {
    display: block;
    padding: 3px 8px; /* Ajuste o padding */
    text-transform: uppercase;
    font-size: 12px; /* Ajuste o tamanho da fonte */
}

#download .download-button {
    background-color: #87CEEB;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#download .download-button:hover {
    background-color: #87CEEB;
}