body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #fff;
    font-weight: bold;
}

a {
    color: #87CEEB;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background: #000000;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

nav {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    background-color: #000000;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0; /* Removido margens desnecessárias */
    padding: 0 20px; /* Adicionado padding horizontal */
    display: flex; /* Usando flexbox */
    justify-content: flex-end; /* Alinhando à direita */
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    display: block;
    padding-bottom: 3px;
    text-transform: uppercase;
}