body {
        font: 21px "Lucida Grande", "Lucida Sans Unicode", "Arial", sans-serif;
        background-image: url('../img/76YS.gif'); /* Substitua pelo caminho do seu GIF */
        background-size: cover; /* Ajusta o tamanho do GIF para cobrir todo o fundo */
        background-repeat: repeat; /* Repete o GIF se ele for menor que o fundo */
        font-family: sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
}
    


#apresentacao p {
    text-align: justify;
    margin: 20px;
}

#container {
    width: 1080px;
    margin: 0 auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding-top: 60px; /* Ajuste este valor conforme necessário */
}

a:link, a:active, a:visited {
    color: #87CEEB;
    text-decoration: none;
}

a:hover {
    color: #87CEEB;
    text-decoration: underline;
}

#foto {
    width: 150px;
    height: 150px;
    background: url(../img/perfil.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-top: 30px;
    transition: transform 0.3s ease;
}

#foto:hover {
    transform: scale(1.1);
}

header {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

nav {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    background-color: #000000;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: right;
    padding: 0;
}

nav ul li {
    float: left;
    display: inline;
    margin-left: 20px;
}

nav ul li a:link {
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ffffff;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #ffffff;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #ffffff;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
}